<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kalkulačka</title>
    <!-- Use bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Use own CSS -->
    <link rel="stylesheet" href="../static/css/layout.css">
    <!-- Use fontawsome-->
    <script src="https://kit.fontawesome.com/06720cb6ae.js" crossorigin="anonymous"></script>
   
    <style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox 
    input[type=number] {
      -moz-appearance: textfield;
    } 
    */
    </style>
</head>
<body>
    <header>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-5">
                    <img class="img-fluid rounded mx-auto d-block mb-3" src="../static/logo/UtilityCrop.jpg" alt="Kalkulačka" width="300px" height="300px">
                </div>
                <div class="col-md-7 d-flex align-items-center justify-content-center">
                    <nav class="nav">
                        <a class="nav-link" aria-current="page" href="../../index.html">Start</a>
                        <a class="nav-link" aria-current="page" href="pricelist.html">Ceníky</a>
                        <a class="nav-link" href="e_input.html">Elektřina</a>
                        <a class="nav-link" href="g_input.html">Plyn</a>
                      </nav>
                </div>
            </div>
        </div>
    </header>

<!-- CONTENT -->

        <div class="container mt-5 mb-5">
            <form class="row g-3 form-bg-color" id= "form">
                <h2 class="text-center text-primary"><u>Plyn</u></h2>
                <div class="form-label text-center col-12 col-md-4 mb-3">
                    <label for="company"><h4>Dodavatel</h4></label>
                    <input type="text" class="form-control text-center" id="company" name="company" placeholder="Vyberte" list="elecCompany">
                        <datalist id="elecCompany">
                            <option value="ČEZ"></option>
                            <option value="E.ON"></option>
                            <option value="PRE"></option>
                            <option value="innogy"></option>
                            <option value="Centropol"></option>
                            <option value="MND"></option>
                        </datalist>
                </div>
                <div class="form-label text-center col-6 col-md-4 mb-3">
                    <label for="contractDuration"><h4>Smlouva</h4></label>
                    <select class="form-select text-center" name="contractDuration">
                        <option value="">Vyberte</option>
                        <option value="Doba neurčita">Doba neurčita</option>
                        <option value="1 Rok">Doba určita 1 Rok</option>
                        <option value="2 Roky">Doba určita 2 Roky</option>
                        <option value="3 Roky">Doba určita 3 Roky</option>
                    </select>
                </div>
                <div class="form-label text-center col-6 col-md-4 mb-3">
                    <label for="usageRange"><h4>Roční odběr</h4></label>
                    <select class="form-select text-center" name="usageRange">
                        <option value="">MWh</option>
                        <option value="do 1,89">do 1,89</option>
                        <option value="nad 1,89 do 7,56">nad 1,89 do 7,56</option>
                        <option value="nad 7,56 do 15">nad 7,56 do 15</option>
                        <option value="nad 15 do 25">nad 15 do 25</option>
                        <option value="nad 25 do 45">nad 25 do 45</option>
                        <option value="nad 45 do 63">nad 45 do 63</option>
                    </select>
                </div>
                <div class="container">
                    <hr class="opacity-100 border-primary border-top border-3">
                </div>
            <!-- Usage -->
                <h4>Spotřeba (m<sup>3</sup>)</h4>
                <sup>(1m<sup>3</sup> = 0,01086 MWh)</sup>
                <div class="form-floating col">
                    <input onkeyup="m3toMWh()" type="number" step=0.01 class="form-control" id="usage1" name="m3Usage" value="0" placeholder="m3">
                    <label for="m3Usage">m<sup>3</sup></label>
                </div>
                <div class="form-floating col">
                    <input onkeyup="mWhtoM3()" type="number" step=0.001 class="form-control" id="usage2" name="mwhUsage" value="0" placeholder="MWh">
                    <label for="mwhUsage">MWh</label> 
                </div>
            <!-- Number of Months -->
                <div class="form-floating col">
                    <select class="form-select form-control" id="numberOfMonths" name="numberOfMonths">
                        <option value="12">12</option>
                        <option value="11">11</option>
                        <option value="10">10</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                    <label for="numberOfMonths">Měsíce</label> 
                </div>
                <div class="container">
                    <hr class="opacity-75 border-primary border-top border-3">
                </div>
            <!-- Price for Gas -->
                <h4>CENA ZA PLYN</h4>
                <div class="form-floating col-sm">
                    <input type="number" step=0.01 class="form-control" id="priceGas" name="priceGas" placeholder="[Kč/MWh]">
                    <label for="priceGas">Odebraný plyn s DPH <small>(Kč/MWh)</small></label>
                </div>
            <!-- Monthly Payments Gas -->
                <div class="form-floating col-sm">
                    <input type="number" step=0.01 class="form-control" id="monthlyGas" name="monthlyGas" placeholder="[Kč/měsíc]">
                    <label for="monthlyGas">Stálá platba s DPH <small>(Kč/měsíc)</small></label>
                </div>
                <div class="container">
                    <hr class="opacity-75 border-primary border-top border-3">
                </div>
            <!-- Price for Gas Dist -->  
                <h4>CENA ZA DISTRIBUCI</h4>
                <div class="form-floating col-sm">
                    <input type="number" step=0.01 class="form-control" id="priceDist" name="priceDist" placeholder="[Kč/MWh]">
                    <label for="priceDist">Plynu s DPH <small>(Kč/MWh)</small></label>
                </div>
            <!-- Monthly Payments Dist -->
                <div class="form-floating col-sm">
                    <input type="number" step=0.01 class="form-control" id="monthlyDist" name="monthlyDist" placeholder="[Kč/měsíc]">
                    <label for="monthlyDist">Stálá platba s DPH <small>(Kč/měsíc)</small></label>
                </div>
                <div class="container">
                    <hr class="opacity-75 border-primary border-top border-3">
                </div>
        <!-- Submit and Result Section -->    
                <div id="submit" class="row m-3" style="display: flex;">
                    <div class="col-1"></div>
                    <div class="form-check col-10">
                        <input class="form-check-input" type="checkbox" id="consent" required>
                        <label class="form-check-label" for="consent">
                            Rozumím, že vypočtené výsledky jsou pouze orientační a každý poskytovatel provádí vlastní výpočty.
                        </label>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="d-grid mt-3 col-9">
                        <button id="btnSubmit" type="button" onclick="getFormData()" class="btn btn-primary btn-block" disabled>Vypočítat</button>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div id="result"></div>
            </form>
        </div>

<!-- FOOTER -->
    <footer>
        <div class="row">
            <div class="col-8 footer-background d-flex align-items-center justify-content-center">
                <h6><i class="far fa-copyright footer-background"></i> 2023 - Designed by</h6>
            </div>
            <div class="col-4 footer-background2">
                <img src="../static/logo/simple2Crop.png" class="mx-auto d-block footer-background2" alt="WebCognito_Lion" width="120" height="60">
            </div>
        </div>
    </footer>

<!--<script type="module" src="../js/gasFormLogic.js"></script>-->
<script src="../js/gasPage/FormLogic.js"></script>
<script src="../js/shortFunctions.js"></script>
<script src="../js/gasPage/buttonFunctions.js"></script>
<script src="../js/gasPage/gDownload.js"></script>
<script src="../js/sharedCode.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha512-a9NgEEK7tsCvABL7KqtUTQjl69z7091EVPpw5KxPlZ93T141ffe1woLtbXTX+r2/8TtTvRX/v4zTL2UlMUPgwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.min.js" integrity="sha512-P0bOMePRS378NwmPDVPU455C/TuxDS+8QwJozdc7PGgN8kLqR4ems0U/3DeJkmiE31749vYWHvBOtR+37qDCZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>