
.nav-link {
    color: rgb(255, 254, 114);
}

.nav-link:hover {
    color: rgb(32, 68, 223);
}

body {
    background-color: black;
}

.form-bg-color {
    background-color: rgb(255, 254, 114);
}

.footer-background {
    background-color: rgb(77,176,184);
}
.invisible-text-form {
    color: rgb(255, 254, 114);
}
.footer-background2 {
    background-color: rgb(218,21,54);
}

.adjust-text {
    text-align: center;
    padding-top: 5px;
}

.responsive-table {
    width: 100%;
    border-collapse: collapse;
}
.responsive-table th, .responsive-table td {
    padding: 8px;
    border: 1px solid whitesmoke;
}

.responsive-table th {
    background-color: rgb(218,21,54);
    color: whitesmoke;
}
.responsive-table td {
    background-color: rgb(77,176,184); 
}
.text-to-end-selct-input {
    text-align: right;
    direction: rtl;
    text-align-last: right;
}
.text-center-select-input {
    text-align: center;
    direction:ltr;
    text-align-last: center;
}
.text-center-input {
    text-align: center;
}